.DisplayEvents-Nav{
    margin: 20px 0px 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.DisplayEvents-CardsContainer{
    margin: 30px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}