
.EditUser-Nav{
  margin: 20px 0px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.css-1t6e9jv-MuiCardActions-root{
  justify-content: space-between;
}