.ViewVenue-Nav{
  margin: 20px 0px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.Search-Input{
  width: 50%;
  margin: 20px 0 !important;
}
 
.ViewVenue-Button{
  width: fit-content!important;
  padding: 5px;
} 

.ViewVenue-SearchWrapper {
  width: 100%;
  display: flex;
  /* flex-direction:column; */
  justify-content: space-around;
  align-items: baseline;

} 
.css-1t6e9jv-MuiCardActions-root{
  justify-content: space-between;
}